.picker {
  color: white;
  position: fixed;
  bottom: 24px;
  left: 24px;
  display: flex;
  flex-direction: column;

  div {
    opacity: 0.5;
    transition: all 0.5s;

    &:hover {
      opacity: 1;
      cursor: pointer;
    }
  }
}
